<a href="https://colab.research.google.com/github/afpaiva/data-science/blob/1st-task/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 3.3 - Análise Exploratória e Estatística Descritiva em Python

- 1) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [29]:
!git clone https://github.com/malegopc/DSBD.git

fatal: destination path 'DSBD' already exists and is not an empty directory.

Importações das bibliotecas

In [30]:
import pandas as pd
import statistics as stat
import numpy as np

/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv

- 2) Ler o dataset "Hourly_wages/hourly_wages.csv" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [31]:
data = pd.read_csv("/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv")
df = pd.DataFrame(data)
df.head(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [32]:
df.tail(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

- 3) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [33]:
nullData = pd.isnull(data).sum().sum()
print ('Foram encontrados',nullData, 'dados vazios (null).')
print ('Tipos das variaveis/atributos:\n',df.dtypes)

Foram encontrados 0 dados vazios (null).
Tipos das variaveis/atributos:
 wage_per_hour     float64
union               int64
education_yrs       int64
experience_yrs      int64
age                 int64
female              int64
marr                int64
south               int64
manufacturing       int64
construction        int64
dtype: object

- 4) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [34]:
round(df.describe(),2)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.00,534.00,534.00,534.00,534.00,534.00,534.00,534.00,534.00,534.00
mean,9.02,0.18,13.02,17.82,36.83,0.46,0.66,0.29,0.19,0.04
std,5.14,0.38,2.62,12.38,11.73,0.50,0.48,0.46,0.39,0.21
min,1.00,0.00,2.00,0.00,18.00,0.00,0.00,0.00,0.00,0.00
25%,5.25,0.00,12.00,8.00,28.00,0.00,0.00,0.00,0.00,0.00
50%,7.78,0.00,12.00,15.00,35.00,0.00,1.00,0.00,0.00,0.00
75%,11.25,0.00,15.00,26.00,44.00,1.00,1.00,1.00,0.00,0.00
max,44.50,1.00,18.00,55.00,64.00,1.00,1.00,1.00,1.00,1.00

- 5) Calcule a proporção de funcionários de sexo masculino e feminino.

In [35]:
fSum = df.female.sum()
mSum = df.shape[0] - fSum
print('A proporção de funcionarios femininos em funcao dos masculinos eh de',fSum,'/',mSum)
print(round(fSum/mSum , 2),'mulheres para cada homem')

A proporção de funcionarios femininos em funcao dos masculinos eh de 245 / 289
0.85 mulheres para cada homem

- 6) Calcule a proporção de casados e solteiros.

In [36]:
marrSum = df.marr.sum()
singleSum = df.shape[0] - marrSum
print('A proporção de funcionarios casados em funcao dos solteiros eh de',marrSum,'/',singleSum)
print(round(marrSum/singleSum , 2),'casados para cada solteiro')

A proporção de funcionarios casados em funcao dos solteiros eh de 350 / 184
1.9 casados para cada solteiro

- 7) Calcule a proporção de funcionários filiados ao sindicato (union).

In [37]:
union = df.union.sum()
notUnion = df.shape[0] - union
print('A proporção de funcionarios afiliados em funcao dos nao afiliados eh de',union,'/',notUnion)
print(round(union/notUnion , 2),'afiliados para cada nao afiliado')

A proporção de funcionarios afiliados em funcao dos nao afiliados eh de 96 / 438
0.22 afiliados para cada nao afiliado

- 8) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [38]:
print('A mediana da variavel "anos de educacao" eh:',df.education_yrs.median())
print('A mediana da variavel "anos de experiência" eh:',df.experience_yrs	.median())
print('A mediana da variavel "idade" eh:',df.age.median())

A mediana da variavel "anos de educacao" eh: 12.0
A mediana da variavel "anos de educacao" eh: 15.0
A mediana da variavel "anos de educacao" eh: 35.0

- 9) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [39]:
print('A moda da variavel "anos de educacao" eh:',stat.mode(df.education_yrs))
print('A moda da variavel "anos de experiência" eh:',stat.mode(df.experience_yrs))
print('A moda da variavel "idade" eh:',stat.mode(df.age))

A moda da variavel "anos de educacao" eh: 12
A moda da variavel "anos de educacao" eh: 14
A moda da variavel "anos de educacao" eh: 32

- 10) Calcule o percentil 90 da variável idade.

In [40]:
age_per90 = np.percentile(df.age, 90,interpolation='midpoint')
print('O percentil 90 da variavel "idade", utilizando interpolacao de ponto medio eh:',age_per90)
print('90% da populacao possuem idade inferior a',age_per90,'anos.')

O percentil 90 da variavel "idade", utilizando interpolacao de ponto medio eh: 55.0
90% da populacao possuem idade inferior a 55.0 anos.

- 11) Calcule o percentil 10 da variável anos de experiência.

In [41]:
experience_yrs_per10 = np.percentile(df.experience_yrs, 10,interpolation='midpoint')
print('O percentil 10 da variavel "anos de experienca", utilizando interpolacao de ponto medio eh:',experience_yrs_per10)
print('90% da populacao possuem mais de',experience_yrs_per10,'anos de experiencia.')

O percentil 10 da variavel "anos de experienca", utilizando interpolacao de ponto medio eh: 3.0
90% da populacao possuem mais de 3.0 anos de experiencia.

- 12) Determine qual atributo apresenta maior variabilidade dentre os atributos: anos de educação, anos de experiência e idade.

In [57]:
std_education_yrs = np.std(df.education_yrs)
std_experience_yrs = np.std(df.experience_yrs)
std_age = np.std(df.age)

labels_arr = ['anos de educacao', 'anos de experiencia', 'idade']
compare_arr = [std_education_yrs, std_experience_yrs, std_age]

print('Desvio padrao de "anos de educacao":', round(std_education_yrs, 2))
print('Desvio padrao de "anos de experiencia":', round(std_experience_yrs, 2))
print('Desvio padrao de "idade":', round(std_age, 2))

for item in compare_arr:
  if item == max(compare_arr):
    print('O atributo com maior variabilidade eh: "',labels_arr[compare_arr.index(item)],'"')

Desvio padrao de "anos de educacao": 2.61
Desvio padrao de "anos de experiencia": 12.37
Desvio padrao de "idade": 11.72
O atributo com maior variabilidade eh: " anos de experiencia "