<a href="https://colab.research.google.com/github/afpaiva/data-science/blob/1st-task/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 3.3 - Análise Exploratória e Estatística Descritiva em Python

- 1 Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone https://github.com/malegopc/DSBD.git

Cloning into 'DSBD'...
remote: Enumerating objects: 362, done.
remote: Counting objects: 100% (362/362), done.
remote: Compressing objects: 100% (339/339), done.
remote: Total 362 (delta 166), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (362/362), 6.14 MiB | 5.08 MiB/s, done.
Resolving deltas: 100% (166/166), done.

/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv

- 2 Ler o dataset "Hourly_wages/hourly_wages.csv" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [33]:
import pandas as pd
data = pd.read_csv("/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv")
df = pd.DataFrame(data)
df.head(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [34]:
df.tail(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

- 3 Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [45]:
nullData = pd.isnull(data).sum().sum()
print ('Foram encontrados',nullData, 'dados vazios (null).')
print ('Tipos das variaveis/atributos:')
df.dtypes

Foram encontrados 0 dados vazios (null).
Tipos das variaveis/atributos:

wage_per_hour     float64
union               int64
education_yrs       int64
experience_yrs      int64
age                 int64
female              int64
marr                int64
south               int64
manufacturing       int64
construction        int64
dtype: object