<a href="https://colab.research.google.com/github/afpaiva/data-science/blob/1st-task/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 3.3 - Análise Exploratória e Estatística Descritiva em Python

- 1 Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone https://github.com/malegopc/DSBD.git

Cloning into 'DSBD'...
remote: Enumerating objects: 362, done.
remote: Counting objects: 100% (362/362), done.
remote: Compressing objects: 100% (339/339), done.
remote: Total 362 (delta 166), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (362/362), 6.14 MiB | 5.08 MiB/s, done.
Resolving deltas: 100% (166/166), done.

/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv

- 2 Ler o dataset "Hourly_wages/hourly_wages.csv" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [3]:
import pandas as pd
data = pd.read_csv("/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv")
data.head(10)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0
5,13.07,1,13,9,28,0,0,0,0,0
6,4.45,0,10,27,43,0,0,1,0,0
7,19.47,0,12,9,27,0,0,0,0,0
8,13.28,0,16,11,33,0,1,0,1,0
9,8.75,0,12,9,27,0,0,0,0,0

- 3 Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.