<a href="https://colab.research.google.com/github/afpaiva/data-science/blob/1st-task/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 3.3 - Análise Exploratória e Estatística Descritiva em Python

- 1) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone https://github.com/malegopc/DSBD.git

Cloning into 'DSBD'...
remote: Enumerating objects: 362, done.
remote: Counting objects: 100% (362/362), done.
remote: Compressing objects: 100% (339/339), done.
remote: Total 362 (delta 166), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (362/362), 6.14 MiB | 5.08 MiB/s, done.
Resolving deltas: 100% (166/166), done.

/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv

- 2) Ler o dataset "Hourly_wages/hourly_wages.csv" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [33]:
import pandas as pd
data = pd.read_csv("/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv")
df = pd.DataFrame(data)
df.head(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [34]:
df.tail(5)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

- 3) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [53]:
nullData = pd.isnull(data).sum().sum()
print ('Foram encontrados',nullData, 'dados vazios (null).')
print ('Tipos das variaveis/atributos:\n',df.dtypes)

Foram encontrados 0 dados vazios (null).
Tipos das variaveis/atributos:
 wage_per_hour     float64
union               int64
education_yrs       int64
experience_yrs      int64
age                 int64
female              int64
marr                int64
south               int64
manufacturing       int64
construction        int64
dtype: object

- 4) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [73]:
round(df.describe(),2)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.00,534.00,534.00,534.00,534.00,534.00,534.00,534.00,534.00,534.00
mean,9.02,0.18,13.02,17.82,36.83,0.46,0.66,0.29,0.19,0.04
std,5.14,0.38,2.62,12.38,11.73,0.50,0.48,0.46,0.39,0.21
min,1.00,0.00,2.00,0.00,18.00,0.00,0.00,0.00,0.00,0.00
25%,5.25,0.00,12.00,8.00,28.00,0.00,0.00,0.00,0.00,0.00
50%,7.78,0.00,12.00,15.00,35.00,0.00,1.00,0.00,0.00,0.00
75%,11.25,0.00,15.00,26.00,44.00,1.00,1.00,1.00,0.00,0.00
max,44.50,1.00,18.00,55.00,64.00,1.00,1.00,1.00,1.00,1.00

- 5) Calcule a proporção de funcionários de sexo masculino e feminino.

In [70]:
fSum = df.female.sum()
mSum = df.shape[0] - fSum
print('A proporção de funcionarios femininos em funcao dos masculinos eh de',fSum,'/',mSum)
print(round(fSum/mSum , 2),'mulheres para cada homem')

A proporção de funcionarios femininos em funcao dos masculinos eh de 245 / 289
0.85 mulheres para cada homem

- 6) Calcule a proporção de casados e solteiros.

In [71]:
marrSum = df.marr.sum()
singleSum = df.shape[0] - marrSum
print('A proporção de funcionarios casados em funcao dos solteiros eh de',marrSum,'/',singleSum)
print(round(marrSum/singleSum , 2),'casados para cada solteiro')

A proporção de funcionarios casados em funcao dos solteiros eh de 350 / 184
1.9 casados para cada solteiro

- 7) Calcule a proporção de funcionários filiados ao sindicato (union).

In [75]:
union = df.union.sum()
notUnion = df.shape[0] - union
print('A proporção de funcionarios afiliados em funcao dos nao afiliados eh de',union,'/',notUnion)
print(round(union/notUnion , 2),'afiliados para cada nao afiliado')

A proporção de funcionarios afiliados em funcao dos nao afiliados eh de 96 / 438
0.22 afiliados para cada nao afiliado